// Margins
.m {
  &t {
    @for $i from 1 through 200 {
      &-#{$i} {
        margin-top: #{$i}px;
      }
    }
  }
  &b {
    @for $i from 1 through 200 {
      &-#{$i} {
        margin-bottom: #{$i}px;
      }
    }
  }
  &r {
    @for $i from 1 through 200 {
      &-#{$i} {
        margin-right: #{$i}px;
      }
    }
  }
  &l {
    @for $i from 1 through 200 {
      &-#{$i} {
        margin-left: #{$i}px;
      }
    }
  }
}

.m {
  &x {
    @for $i from 1 through 200 {
      &-#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
      }
    }
  }
  &y {
    @for $i from 1 through 200 {
      &-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
      }
    }
  }
}


// Paddings
.p {
  &t {
    @for $i from 1 through 200 {
      &-#{$i} {
        padding-top: #{$i}px;
      }
    }
  }
  &b {
    @for $i from 1 through 200 {
      &-#{$i} {
        padding-bottom: #{$i}px;
      }
    }
  }
  &r {
    @for $i from 1 through 200 {
      &-#{$i} {
        padding-right: #{$i}px;
      }
    }
  }
  &l {
    @for $i from 1 through 200 {
      &-#{$i} {
        padding-left: #{$i}px;
      }
    }
  }
}

.p {
  &x {
    @for $i from 1 through 200 {
      &-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
      }
    }
  }
  &y {
    @for $i from 1 through 200 {
      &-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
      }
    }
  }
}

// Button styles
.btn {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #707070;
  color: #707070;
  border-radius: 5px;
  transition: color 0.15s linear;
  cursor: pointer;
  &:hover,
  &:active {
    color: #3C82F4;
  }
}
.primary {
  background: #306EF7;
  border: 1px solid #306EF7;
  color: #FFF;
  transition: opacity 0.15s linear;
  &:hover,
  &:active {
    color: #FFF;
    opacity: 0.85;
  }
}