@import 'var';
@import 'lib';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $--dark;
  padding-bottom: 50px;
}

.container {
  max-width: 1680px;
  margin: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@import "header";


@media only screen and (max-width: 1520px) {
  html {
    font-size: 50%;
  }
  .container {
    max-width: 1320px;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 42%;
  }
  .container {
    max-width: 1060px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    
  }
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 600px) {
  
}

@media only screen and (max-width: 480px) {
  
}

@media only screen and (max-width: 320px) {
  
}